.about {
    &--box {
        &__text {

            & h2 {
                text-align: left;
            }

            & p {
                margin-top: 15px;
                padding: 0 20px 35px;
                text-align: left;
                font-size: 14px;
            }
        }

        &__btn {
            align-self: center;
        }
    }
}

